.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.Header-left {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.Header-center {
  flex: 2;
}

.Header-right {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}

.App-logo {
  width: 150px;
  height: 75px;
}

.Text-user {
  display: flex;
}

.Black-font {
  color: #000
}

.BlueSky-font {
  color: skyblue
}

.Username-ava {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.App-menu {
  padding-top: 30px;
  display: flex;
}

.Navbar {
  padding-left: 20px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Main {
  flex: 2;
  background-color: #F5F5F5;
  height: 86vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
