.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.Header-left {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.Header-center {
  flex: 2;
}

.Header-right {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
}

.App-logo {
  width: 120px;
  height: 50px;
}

.Text-user {
  display: flex;
}

@media (max-width: 768px) {
  .App-header {
    padding-left: 20px;
  }
  
  .Text-user {
    display: none;
  }

  .Main {
    margin: 0 20px;
  }
}

.Black-font {
  color: #000;
  font-size: medium;
}

.Username-ava {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5px;
}

.App-menu {
  padding-top: 30px;
  display: flex;
}

.Navbar {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
}

.Main {
  flex: 1;
  background-color: #F5F5F5;
  height: 86vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.Link-title {
  font-size: medium;
  text-decoration: none;
  color: #000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Burger-menu {
  padding-top: 20px;
}

.Content {
  display: flex;
  flex-direction: column;
}

.Content-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  background-color: #fff;
  height: 80px;
}

.Content-body {
  height: 500px;
  background-color: #fff;
  margin: 20px 20px;
}

.Personnel-list-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.Personnel-list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.PL-title {
  color: #61dafb;
  font-size: x-large;
  font-weight: bold;
  height: 40px;
  margin: 15px 0 0 0;
}

.PL-info {
  height: 40px;
  margin: 0 0 10px 0
}