.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #fff;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  /* font-size: calc(10px + 2vmin); */
  justify-content: center;
  padding-top: 10px;
}

.Header-left {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.Header-center {
  flex: 2;
}

.Header-right {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
}

.App-logo {
  width: 120px;
  height: 50px;
}

.Text-user {
  display: flex;
}

@media (max-width: 768px) {
  .App {
    height: 200vh;
  }

  .App-header {
    position: fixed;
    min-width: 100%;
    padding: 10px 10px 10px 10px;
    border-bottom: 60px;
  }
  
  .Text-user {
    display: none;
  }

  .Main {
    margin: 0 20px;
  }

  .Content {
    margin-top: 70px;
  }

  .Content-body {
    flex-direction: column;
  }

  .Header-left {
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  .App {
    height: 100vh;
  }
}

.Black-font {
  color: #000;
  font-size: medium;
}

.Username-ava {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5px;
}

.App-menu {
  padding-top: 10px;
  display: flex;
  height: 100%;
}

.Navbar {
  padding: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
}

.Nav-link {
  padding-bottom: 10px;
}

.Active-nav-link {
  padding-bottom: 10px;
  color: #23c7c6;
}

.Main {
  flex: 1;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #23c7c6;
}

.Link-title {
  font-size: medium;
  text-decoration: none;
  color: #000;
}

.Active-link-title {
  font-size: medium;
  text-decoration: none;
  color: #23c7c6;
}

.Link-icon {
  color: #000;
}

.Active-link-icon {
  color: #23c7c6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Burger-menu {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content {
  display: flex;
  flex-direction: column;
}

.Content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
  background-color: #fff;
  height: 80px;
  flex-wrap: wrap;
}

.Content-body {
  height: 500px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.Personnel-list-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  flex: 20%;
}

.PL-title {
  color: #61dafb;
  font-size: x-large;
  font-weight: bold;
  height: 30px;
  margin: 10px 0 0 0;
  padding-bottom: 0;
}

.PL-info {
  height: 20px;
  margin: 0 0 10px 0
}

.Employee-card {
  /* width: 250px;
  height: 460px; */
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 5px 0 5px;
  flex: 3;
  display: flex;
  flex-direction: column;
}

@media (max-width: 962px) {
  .Content-header {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
  }

  .Personnel-list-title {
    flex: 100%;
  }

  .Personnel-list-button {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    margin-top: 10px;
  }

  .Find-btn {
    flex: 6;
    border: 0.5px solid #e7e7e7;
    background-color: #fff;
    color: #707070;
    margin: 5px 10px;
  }

  .Add-btn {
    flex: 6;
    background-color: #23c7c6;
    color: #fff;
    border: none;
    font-weight: bold;
    margin: 5px 10px;
  }
  /* .Content-body {
    flex-direction: column;
  } */

}

@media (min-width: 962px) {
  .Personnel-list-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 20%;
  }

  .Find-btn {
    width: 200px;
    height: 40px;
    margin: 0 2.5px 0 20px;
    border: 0.5px solid #e7e7e7;
    background-color: #fff;
    color: #707070;
  }

  .Add-btn {
    width: 200px;
    height: 40px;
    margin: 0 20px 0 2.5px;
    background-color: #23c7c6;
    color: #fff;
    border: none;
    font-weight: bold;
  }
}

.Responsive-btns {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  margin-top: 10px;
}

.Card-header {
  border-bottom: 3px solid #f5f5f5;
  flex: 1;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.Three-circle {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

.Circle {
  margin: 1px 1px 1px 1px;
}

.Card-body {
  flex: 11;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .Card-body {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .Employee-img {
    flex: 3;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Employee-info {
    flex: 9;
    margin: 20px 20px;
  }

  .Content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 500px;
  }
}

@media (min-width: 768px) {
  .Content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
}

.Id-person-title {
  font-size: small;
  color: #000;
  flex: 10;
}

.Id-person-number {
  font-size: small;
  color: #23c7c6;
}

.Gadjian-color {
  color: #23c7c6;
}

.Employee-img {
  flex: 3;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: 100%;
  width: 100%; */
}

.Employee-ava {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.Employee-info {
  flex: 9;
}

.Employee-info-title {
  font-weight: bold;
  font-size: 10px;
}

.Employee-info-containt {
  font-size: 12px;
}

.Action-pg {
  display: flex;
  align-items: center;
  margin-inline: 10px;
  justify-content: center;
  height: 30px;
  border-radius: 15px;
  transition: 200ms;
  user-select: none;
}

.Action-pg:hover span {
  color: #23c7c6;
  transition: 200ms;
  cursor: pointer;
}

.Action-pg:hover .Action-icon {
  color: #23c7c6;
  transition: 200ms;
}

.Disabled-action-icon {
  color: gray;
}

.Disabled-action-pg {
  display: flex;
  align-items: center;
  margin-inline: 10px;
  justify-content: center;
  height: 30px;
  border-radius: 15px;
  transition: 200ms;
  user-select: none;
}

.Disabled-action-pg span {
  color: gray;
}

.Menubar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  margin-top: 78px;
}

.Menubar-btn {
  flex: 1;
  text-align: start;
  padding-left: 20px;
  background-color: #fff;
  border: none;
}

.Menubar-btn:hover {
  background-color: #23c7c6;
}

.Not-found-pg {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}