.M-content {
  display: flex;
  flex-direction: column;
}

.M-content-header {
  background-color: #fff;
  margin: 15px 15px;
}

.M-content-body {
  display: flex;
  flex-direction: column;
}

.M-personnel-list-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}